@model SonOfCodSeafood.Models.Picture

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<form method="post" asp-action="Create" asp-controller="Picture" enctype="multipart/form-data">
    @Html.LabelFor(model => model.ProductId)
    @Html.DropDownList("ProductId")
    <input type="file" name="img" multiple id="img" />
    <input type="submit" value="Upload" class="btn btn-default" />
</form>
<br />