@{

    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<row>
    <div>
        <img id="banner" src="~/css/img/alaska.jpg", style="height:400px;" />
    </div>
</row>
<row>
    <div id="Home">
        <h1>Sons Of Cod Seafood</h1>

        <h3>— A Runner up in Seafood —</h3>
    </div>
</row>

