@model IEnumerable<SonOfCodSeafood.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our products:</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>
            @Html.ActionLink(product.Name, "Details", new { id = product.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
        </li>
    }
</ul>

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>